<ion-header>
  <mat-form-field class="newbill-full-width" appearance="fill">
    <mat-label>Choose a date</mat-label>
    <!-- #docregion toggle -->
    <input
      matInput
      [matDatepicker]="picker"
      [(ngModel)]="currentDate"
      (dateChange)="onChangeDate()"
      [max]="maxDate"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <!-- #enddocregion toggle -->
  </mat-form-field>
</ion-header>

<ion-content>
  <mat-list>
    <mat-card
      *ngFor="let billItem of allBills;trackBy: trackByFn "
      (click)="onClickItemBill(billItem)"
    >
      <mat-card-title-group>
        <div style="width: 100%">
          <h5>{{billItem.gender|formatgender}}{{billItem.customerName}}</h5>
          <div>Bill Number:{{billItem.billnumber}}</div>
          <div class="dangercolor">{{billItem.billDate|dateformat:'date'}}</div>
        </div>

        <!-- <mat-card-subtitle style="color: red">
          {{billItem.billDate|dateformat:'date'}}</mat-card-subtitle
        > -->
      </mat-card-title-group>
      <mat-card-content class="rowAmount">
        {{billItem.itemPurchased|subtotal}}Rs.
      </mat-card-content>
      <ion-button
        color="danger"
        class="paybutton"
        *ngIf="billItem.due>0 && BILLING_UPDATE"
        (click)="onPayDue($event,billItem)"
      >
        Due:{{billItem.due}}
      </ion-button>
      <ion-button
        color="danger"
        class="paybutton"
        fill="clear"
        *ngIf="billItem.due===0 && BILLING_DELETE"
        (click)="onDelete($event,billItem)"
      >
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </mat-card>
  </mat-list>
</ion-content>
<ion-footer>
  <div
    *ngIf="allBillResponse?.responseObject?.profit"
   class="totalProfit"
  >
    <span>Total Profit: </span>
    <span>{{allBillResponse?.responseObject?.profit}}</span>
  </div>
  <mat-paginator
    *ngIf="allBillResponse?.totalPage"
    #paginator
    class="demo-paginator"
    (page)="handlePageEvent($event)"
    [length]="allBillResponse?.totalPage"
    [pageSize]="this.currentMaxPage"
    [showFirstLastButtons]="true"
    [hidePageSize]="true"
    [pageIndex]="0"
    aria-label="Select page"
  >
  </mat-paginator>
</ion-footer>
