@import '../../../global.scss';
.dangercolor{
  color:$danger;
}
.primarycolor{
  color:$primary;
}
.newbill-full-width {
  width: 100%;
}

.rowAmount {
  right: 0;
  top: 0;
  bottom: 0;
  margin: 1.3rem 0.6rem;

  height: 1.2rem;
  position: absolute;
  font-size: 1.2em;
  font-style: italic;
}

.paybutton {
  right: 0;
  bottom: 1rem;
  margin: 2.3rem 0.6rem;
  position: absolute;
  font-size: 1rem;
  font-style: italic;
}
