
@import '../../../../global.scss';
.dangercolor{
  color:$danger;
}
.primarycolor{
  color:$primary;
}
.newbill-full-width {
  width: 100%;
}
.newbill-half-width {
  width: 50%;
}


.gender {
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
}
.radiobutton {
  margin: 0 0.5rem;
}
