<ion-header>
  <ion-item>
    <mat-label
      >Customer Name:
      {{data.gender|formatgender}}{{data.customerName}}</mat-label
    >

    <mat-divider></mat-divider>
  </ion-item>
  <ion-item>
    <mat-label>Contact Number: {{data.customerContact}}</mat-label>
  </ion-item>
</ion-header>
<mat-divider></mat-divider>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let cartItem of data.listItem ">
      <div style="width: 100%">
        <h3>{{(cartItem|toItem).itemName}}</h3>
        <span style="float: left"> Qty. {{cartItem.count}}</span>
        <span style="float: right; color: red">
          Total:{{((cartItem|toItem).itemSellValue *
          cartItem.count).toFixed(2)}} Rs.</span
        >
      </div>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer collapse="fade">
  <ion-item>


    <ion-item>
      <ion-label position="floating">Discount</ion-label>
      <ion-input
        placeholder="Ex:20.00"
        type="number"
        [(ngModel)]="data.discount"
        (ngModelChange)="onChange()"
      ></ion-input>
    </ion-item>
  </ion-item>
  <ion-toolbar>
    <ion-title>
      <ion-item>
        <ion-label style="color: green">
          Total({{data.listItem|subtotal}}) - Discount({{data.discount}}) =
          {{data.listItem|subtotal: 'price':data.discount+""}} Rs.</ion-label
        >
      </ion-item>
    </ion-title>
    <button
      mat-raised-button
      color="primary"
      (click)="onNext()"
      style="float: right; margin: 0 1rem"
    >
      Next
    </button>
  </ion-toolbar>
</ion-footer>
