<ion-header>
  <ion-searchbar
    placeholder="Search..."
    [(ngModel)]="filterTerm"
    animated="true"
  ></ion-searchbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Include out of stock items</ion-label>
    <ion-toggle
      slot="end"
      name="apple"
      color="primary"
      (ionChange)="onChangeIncludeStock($event)"
      [(ngModel)]="includeOutOfStockItem"
    ></ion-toggle>
  </ion-item>
  <mat-card *ngFor="let item of allItems| filter: filterTerm; ">
    <mat-card-title-group>
      <mat-card-title> {{item.itemName}}</mat-card-title>
      <mat-card-subtitle color="dangercolor"
        >Status: {{item.available?'Available':'Unavailable'}}
      </mat-card-subtitle>

      <div class="rowList3" *ngIf="ITEM_UPDATE">
        <ion-button fill="outline" color="primary" (click)="onModifyItem(item)">
          Update
        </ion-button>
      </div>
    </mat-card-title-group>
  </mat-card>
</ion-content>
