<ion-header>
  <ion-searchbar
    placeholder="Search..."
    [(ngModel)]="filterTerm"
    animated="true"
  ></ion-searchbar>
</ion-header>

<ion-content>
  <mat-card
    *ngFor="let item of cartsrvc.mainItems| filter: filterTerm; "
  >
    <mat-card-title-group>
      <mat-card-title> {{item.itemName}}</mat-card-title>
      <mat-card-subtitle style="color: red"
        >Status: {{item.isAvailable?'Available':'Unavailable'}}
      </mat-card-subtitle>

      <div class="rowList3" >
        <button
          mat-stroked-button
          color="primary"
          (click)="onModifyItem(item)"
        >
          Update
        </button>
      </div>
    </mat-card-title-group>
  </mat-card>
</ion-content>
