@import '../../global.scss';
.dangercolor{
  color:$danger;
}
.primarycolor{
  color:$primary;
}

.newbill-full-width {
  width: 100%;
}

.btn{
  float: right;
}

.divlogin{
  justify-content: center;
  display: flex;
}
