<mat-form-field appearance="fill" class="yeartoggle">
  <mat-label>{{ label }}</mat-label>
  <mat-date-range-input [rangePicker]="picker" [max]="maxDate">
    <input
      matStartDate
      placeholder="Start Year"
      formControlName="mesIni"
      #mesIni
    />

    <input matEndDate placeholder="End Year" formControlName="mesFin" #mesFin />
  </mat-date-range-input>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker
    id="picker"
    #picker
    disabled="false"
    startView="multi-year"
    (yearSelected)="chosenHandler($event, picker, mesIni, mesFin)"
    (click)="(true)"
  >
  </mat-date-range-picker>
</mat-form-field>
