<ion-content>
  <mat-form-field class="newbill-full-width" appearance="fill">
    <mat-label style="color: red">Item Name *</mat-label>
    <input
      matInput
      placeholder="Itme Name is mandatory"
      [(ngModel)]="item.itemName"
      type="text"
    />
  </mat-form-field>
  <mat-form-field class="newbill-full-width" appearance="fill">
    <mat-label style="color: red">Making Cost *</mat-label>
    <input
      matInput
      placeholder="Purchasing amount is mandatory"
      type="number"
      [(ngModel)]="item.itemPurchaseValue"
      min="0"
    />
  </mat-form-field>
  <mat-form-field class="newbill-full-width" appearance="fill">
    <mat-label style="color: red">Selling Amount *</mat-label>
    <input
      matInput
      placeholder="Selling amount is mandatory"
      type="number"
      [(ngModel)]="item.itemSellValue"
      min="0"
    />
  </mat-form-field>
  <mat-checkbox
    class="example-margin"
    [(ngModel)]="item.discountInPercent"
    style="margin: 0 1rem"
    color="primary"
    >Discount in Percentage
  </mat-checkbox>
  <mat-form-field
    class="newbill-full-width"
    appearance="fill"
    *ngIf="item.discountInPercent"
  >
    <mat-label>Discount percentage</mat-label>
    <input
      matInput
      placeholder="Discount on the Item"
      type="number"
      [(ngModel)]="item.itemSellDiscount"
      max="100"
    />
  </mat-form-field>
  <mat-form-field
    class="newbill-full-width"
    appearance="fill"
    *ngIf="!item.discountInPercent"
  >
    <mat-label>Discount Amount </mat-label>
    <input
      matInput
      placeholder="Discount on the Item"
      type="number"
      [(ngModel)]="item.itemSellDiscount"
    />
  </mat-form-field>

  <button
    mat-fab
    color="primary"
    style="position: absolute; bottom: 1rem; right: 1rem; z-index: 1"
    [disabled]="isNotValid()"
    (click)="onSave()"
  >
    <mat-icon>save</mat-icon>
  </button>
</ion-content>
