<ion-content>
  <ion-item *ngIf="item.id?.length>0">
    <ion-label>Is in Stock?</ion-label>
    <ion-toggle
      slot="end"
      name="apple"
      color="primary"
      [(ngModel)]="item.available"
    ></ion-toggle>
  </ion-item>
  <mat-form-field class="newbill-full-width" appearance="fill">
    <mat-label class="dangercolor">Item Name *</mat-label>
    <input
      matInput
      placeholder="Itme Name is mandatory"
      [(ngModel)]="item.itemName"
      type="text"
      (click)="oninputClick($event)"
    />
  </mat-form-field>
  <mat-form-field class="newbill-full-width" appearance="fill">
    <mat-label class="dangercolor">Select category *</mat-label>

    <mat-select
      [(ngModel)]="item.category"
      name="report"
      disableOptionCentering
      panelClass="myPanelClass"
      (selectionChange)="onChangeItem($event.value)"
    >
      <mat-option value="-1" selected>Slect One Item</mat-option>
      <mat-option
        *ngFor="let category of cartsrvc.categoryList"
        [value]="category.id"
      >
        {{category.categoryName}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="newbill-full-width" appearance="fill">
    <mat-label class="dangercolor">Making Cost *</mat-label>
    <input
      matInput
      placeholder="Purchasing amount is mandatory"
      type="number"
      [(ngModel)]="item.itemPrice.priceAmount"
      min="0"
      (click)="oninputClick($event)"
    />
  </mat-form-field>
  <mat-form-field class="newbill-full-width" appearance="fill">
    <mat-label class="dangercolor">Selling Amount *</mat-label>
    <input
      matInput
      placeholder="Selling amount is mandatory"
      type="number"
      [(ngModel)]="item.itemPrice.sellingAmount"
      min="0"
      (click)="oninputClick($event)"
    />
  </mat-form-field>
  <mat-checkbox
    class="example-margin"
    [(ngModel)]="item.isDiscountInPercentage"
    style="margin: 0 1rem"
    color="primary"
    >Discount in Percentage
  </mat-checkbox>
  <mat-form-field
    class="newbill-full-width"
    appearance="fill"
    *ngIf="item.isDiscountInPercentage"
  >
    <mat-label>Discount percentage</mat-label>
    <input
      matInput
      placeholder="Discount on the Item"
      type="number"
      [(ngModel)]="item.discount"
      max="100"
      (click)="oninputClick($event)"
    />
  </mat-form-field>
  <mat-form-field
    class="newbill-full-width"
    appearance="fill"
    *ngIf="!item.isDiscountInPercentage"
  >
    <mat-label>Discount Amount </mat-label>
    <input
      matInput
      placeholder="Discount on the Item"
      type="number"
      [(ngModel)]="item.discount"
      (click)="oninputClick($event)"
    />
  </mat-form-field>
  <!-- <mat-checkbox
    class="example-margin"
    [(ngModel)]="item.isAvailable"
    style="margin: 0 1rem"
    color="primary"
    *ngIf="item.itemId?.length>0"
    >Available?
  </mat-checkbox> -->

  <ion-button
    mat-fab
    color="primary"
    style="position: absolute; bottom: 1rem; right: 1rem; z-index: 1"
    [disabled]="isNotValid()"
    (click)="onSave()"
  >
  <mat-icon>save</mat-icon>
  </ion-button>
</ion-content>
