<ion-content>
  <app-bill-print-details
    [data]="currentBillPrintStr"
    *ngIf="currentBillPrint"
  ></app-bill-print-details>
</ion-content>
<ion-footer>
  <ion-title></ion-title>
  <ion-item>
    <ion-label position="floating" style="color: red">Paid*</ion-label>
    <ion-input
      placeholder="Ex:20.00"
      type="number"
      [(ngModel)]="currentBill.paid"
      (ngModelChange)="onChangePaid()"
    ></ion-input>
  </ion-item>
  <ion-label style="margin-left:1rem" color="danger" *ngIf="currentBill.paid>currentBill.total">Can not be greater than total amount</ion-label>
  <ion-item>
    <ion-title></ion-title>
    <ion-button color="primary" float-right (click)="onDone()"  size="default"
    [disabled]="currentBill.paid === undefined || currentBill.paid === null || currentBill.paid>currentBill.total">
      Confirm
    </ion-button>
  </ion-item>
</ion-footer>
