<ion-app>
  <ion-header mode="md">
    <ion-toolbar class="my-toolbar">
      <button mat-icon-button [matMenuTriggerFor]="menu" class="menuicon">
        <mat-icon end>more_vert</mat-icon>
      </button>
      <ion-title>{{ pageTitle }}</ion-title>
      <mat-menu #menu="matMenu">
        <button mat-menu-item  routerLink="/createbill" routerLinkActive="active"
        >
          <mat-icon>create</mat-icon>
          <span>New Bill</span>
        </button>
        <button mat-menu-item routerLink="/home" routerLinkActive="active">
          <mat-icon>view_list</mat-icon>
          <span>Items</span>
        </button>
        <button mat-menu-item routerLink="/configure" routerLinkActive="active">
          <mat-icon>view_module</mat-icon>
          <span>Configure</span>
        </button>
        <button mat-menu-item routerLink="/reports" routerLinkActive="active">
          <mat-icon>report</mat-icon>
          <span>Reports & Bills</span>
        </button>
        <button mat-menu-item routerLink="/appsetting" routerLinkActive="active">
          <mat-icon>settings</mat-icon>
          <span>App Settings</span>
        </button>
      </mat-menu>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-router-outlet></ion-router-outlet>
  </ion-content>
</ion-app>
