<ion-header>
  <app-branch-selector
    *ngIf="this.util.metaData.profile.branchCode=='0'"
    (branchChanged)="onBranchChanged()"
    [(ngModel)]="transaction.branchCode"
  ></app-branch-selector>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating" color="danger">Perticulares *</ion-label>
    <ion-input
      placeholder="Perticulares is mandatory"
      [(ngModel)]="transaction.perticulars"
      type="text"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" color="danger">Amouunt *</ion-label>
    <ion-input
      placeholder="Amouunt is mandatory"
      [(ngModel)]="transaction.amount"
      type="text"
    ></ion-input>
  </ion-item>

  <ion-item class="fullwidth" appearance="fill">
    <ion-label>Transaction type</ion-label>
    <ion-select
      [(ngModel)]="transaction.transactionType"
      placeholder="Select Transaction Type"
      (ionChange)="onTypeChange($event)"
    >
      <ion-select-option value="Cr">Income</ion-select-option>
      <ion-select-option value="Dr">Expense</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-label
    *ngIf="transaction.transactionType === 'Dr'"
    style="color: red; padding: 1rem"
  >
    Amount Debited {{transaction.amount}}; for
    {{transaction.perticulars}}</ion-label
  >
  <ion-label
    *ngIf="transaction.transactionType === 'Cr'"
    style="color: green; padding: 1rem"
  >
    Amount Credited {{transaction.amount}}; by
    {{transaction.perticulars}}</ion-label
  >
  Í</ion-content
>
<ion-footer>
  <ion-item>
    <ion-title></ion-title>
    <ion-button
      color="primary"
      float-right
      (click)="onSave()"
      size="default"
      [disabled]="!transaction.perticulars || !transaction.amount || !transaction.transactionType"
    >
      Update
    </ion-button>
  </ion-item>
</ion-footer>
