<ion-content>
  <form [formGroup]="branchForm" novalidate>
    <ion-item>
      <ion-label position="floating" class="required"
        >Enter branch name</ion-label
      >
      <ion-input formControlName="name" type="text" required></ion-input>
      <span
        class="error"
        *ngIf="controls.name.touched && controls.name.errors?.required"
      >
        Branch name is required.
      </span>
    </ion-item>
    <ion-item>
      <ion-label position="start" class="required"> Branch Code</ion-label>

      <ion-input
        formControlName="code"
        type="text"
        required
        class="half-width"
        style="background: #d4d4d4; margin: 1rem"
        readonly="true"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" class="required"
        >Enter branch address</ion-label
      >
      <ion-textarea formControlName="address" type="text"></ion-textarea>
    </ion-item>
    <ion-item >
      <ion-label>Is Active?</ion-label>
      <ion-toggle
        slot="end"
        name="apple"
        color="primary"
        formControlName="available"
      ></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label position="floating" class="required"
      >Update branch Items</ion-label
    >
      <ion-select
        [compareWith]="compareWith"
        placeholder="Select Items"
        [multiple]="true"
        formControlName="items"
      >
        <ion-select-option *ngFor="let items of allItems" [value]="items.id"
          >{{ items.itemName }}</ion-select-option
        >
      </ion-select>
    </ion-item>
  </form>
</ion-content>
<ion-footer>
  <ion-item>
    <ion-toolbar></ion-toolbar>
    <ion-button
      size="default"
      color="primary"
      float-right
      (click)="onSave()"
      [disabled]="!isValid()"
    >
      Update
    </ion-button>
  </ion-item>
</ion-footer>
