@import "../../../global.scss";

table {
  width: 100%;
  box-shadow: none;
}
th.mat-header-cell {
  text-align: center;
  font-weight: bold;
}
th.mat-header-cell:last-of-type,
th.mat-header-cell:first-of-type,
td.mat-cell:last-of-type,
td.mat-cell:first-of-type {
  padding-right: 1rem  ;
  padding-left: 1rem  ;
}
th.mat-header-cell,
th.mat-header-cell {
  border-bottom: 1px solid currentColor;
}
.mat-column-detail {
  width: 55vw;
  text-align: center;
  padding: 0;
}
.mat-column-amount {
  width: 45vw;
  text-align: center;
  padding: 0;

}
.tdamount{
  text-align: right;
  font-weight: bold;

}
.tddetail{
  text-align: left;

}
.resultstyle {
  display: block;
  text-align: right;
  padding-right: 16px;
  background-color: white;
}

h5 {
  margin: 0;
}

.detail{
  border-right: 2px solid gray;
}
