<mat-dialog-content>
  <h2>Reset Password</h2>
  <mat-form-field class="full-width" appearance="fill">
    <mat-label class="dangercolor">Entter password</mat-label>
    <input
      matInput
      placeholder="Enter Password"
      [(ngModel)]="passCode"
      type="password"

    />
  </mat-form-field>
  <mat-form-field class="full-width" appearance="fill">
    <mat-label class="dangercolor">Repeat password</mat-label>
    <input
      matInput
      placeholder="Retype Password"
      [(ngModel)]="repeatPassCode"
      type="password"
    />
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <ion-button
    (click)="resetPasscod()"
    [disabled]="passCode.length < 8 || passCode !== repeatPassCode"
    >Save</ion-button
  >
  <ion-button (click)="cancel()">Close</ion-button>
</mat-dialog-actions>
