<ion-content>
  <app-branch-selector
    *ngIf="this.utilSrvc.metaData.profile.branchCode=='0'"
    (branchChanged)="onBranchChanged()"
  ></app-branch-selector>
  <mat-list>
    <mat-card
      *ngFor="let emp of allEmployeies;trackBy: trackByFn "
      (click)="onClickEmployee(emp)"
    >
      <mat-card-title-group>
        <div style="width: 100%">
          <h5>{{emp.gender|formatgender}}{{emp.firstName}}</h5>
        </div>
      </mat-card-title-group>
      <mat-card-content class="rowAmount"> {{emp.userType}} </mat-card-content>
    </mat-card>
  </mat-list>
</ion-content>
