<ng-container *ngIf="currentBillPrint && displayedColumns">
  <ion-title class="billtitle">{{util.tenantDetail?.name|| companyName}}</ion-title>
  <div>
    <ion-label class="label">
      <span style="font-weight: bold">ORDER NO.: </span>
      {{currentBillPrint['Order NO.']}}</ion-label
    >
  </div>
  <div>
    <ion-label class="label">
      <span style="font-weight: bold">Date:</span>
      {{currentBillPrint?.Date|dateformat:"date" }}
      <span style="font-weight: bold">Time:</span>
      {{currentBillPrint?.Date|dateformat:"time" }}
    </ion-label>
  </div>
  <div>
    <ion-label class="label">
      <span style="font-weight: bold">Name:</span>
      {{currentBillPrint?.Name}}
    </ion-label>
  </div>
  <div>
    <ion-label class="label"
      ><span style="font-weight: bold">Contact:</span>
      {{currentBillPrint?.Contact}}
    </ion-label>
  </div>
  <table
    mat-table
    [dataSource]="currentBillPrint?.Items"
    class="mat-elevation-z8"
  >
    <!-- Position Column -->
    <ng-container matColumnDef="item">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element">{{element.item}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="itemName">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{element.itemName}}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="qty">
      <th mat-header-cell *matHeaderCellDef>qty</th>
      <td mat-cell *matCellDef="let element">{{element.qty}}x</td>
    </ng-container>
    <ng-container matColumnDef="rate">
      <th mat-header-cell *matHeaderCellDef>Rate(Rs)</th>
      <td mat-cell *matCellDef="let element">{{element.rate}}</td>
    </ng-container>
    <ng-container matColumnDef="disc">
      <th mat-header-cell *matHeaderCellDef>Disc.</th>
      <td mat-cell *matCellDef="let element">{{element.disc}}</td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Price(Rs)</th>
      <td mat-cell *matCellDef="let element">{{element.price}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <table>
    <tr>
      <td class="tabletd">Total(Rs):</td>
      <td class="tabletd">{{currentBillPrint?.Total.toFixed(2)}}</td>
    </tr>
    <tr>
      <td class="tabletd">Discount(Rs):</td>
      <td class="tabletd">{{currentBillPrint?.Discount.toFixed(2)}}</td>
    </tr>
    <tr>
      <td class="tabletd">Tax(%):</td>
      <td class="tabletd">{{currentBillPrint?.Tax.toFixed(2)}}</td>
    </tr>
    <tr>
      <td class="tabletd" style="font-size: 1rem; font-weight: 'bold'">
        Grand Total:
      </td>
      <td class="tabletd" style="font-size: 1rem; font-weight: 'bold'">
        {{currentBillPrint?.Payable.toFixed(2)}}
      </td>
    </tr>
  </table>

  <div style="text-align: center; font-style: italic; margin: 1rem">
    All values in INR
  </div>
</ng-container>
