<mat-form-field appearance="fill" class="monthtoggle">
  <mat-label>{{ label }}</mat-label>
  <mat-date-range-input [rangePicker]="picker" [max]="maxDate">
    <input
      matStartDate
      placeholder="Start Month"
      #mesIni
    />

    <input
      matEndDate
      placeholder="End Month"
      #mesFin
    />
  </mat-date-range-input>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker
    id="picker"
    #picker
    disabled="false"
    startView="multi-year"
    (monthSelected)="chosenHandler($event, picker)"
    (click)="(true)"
  >
  </mat-date-range-picker>
</mat-form-field>
