<ion-list>
  <ion-item>
    <ion-label>Select Theme:</ion-label>
    <ion-select
      color="primary"
      class="fullwidth"
      interface="popover"
      [(ngModel)]="selectTheme"
      (ionChange)="onThemeChange()"
    >
      <ion-select-option
        color="primary"
        [value]="theme.class"
        *ngFor="let theme of themeColor; "
      >
        {{theme.name}}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Per page record in Bill:</ion-label>
    <ion-select
      color="primary"
      class="fullwidth"
      interface="popover"
      [(ngModel)]="selectPageSettingBill"
      (ionChange)="onBillChange()"
    >
      <ion-select-option
        color="primary"
        [value]="pb.value"
        *ngFor="let pb of pageSettingBill; "
      >
        {{pb.name}}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Per page record in Report:</ion-label>
    <ion-select
      color="primary"
      class="fullwidth"
      interface="popover"
      [(ngModel)]="selectPageSettingReport"
      (ionChange)="onReportChange()"
    >
      <ion-select-option
        color="primary"
        [value]="pr.value"
        *ngFor="let pr of pageSettingReport; "
      >
        {{pr.name}}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-button
      expand="block"
      color="primary"
      (click)="onClickPrinterSetup()"
      [disabled]="!thermalPrinter"
      >Printer Setup</ion-button
    >

    <ion-select
      *ngIf="allPrinter.length>0"
      color="primary"
      class="fullwidth"
      interface="popover"
      [(ngModel)]="selectedPrinter"
      (ionChange)="onDeviceChange()"
      placeholder="Select Printer"
    >
      <ion-select-option
        color="primary"
        [value]="printer"
        *ngFor="let printer of allPrinter; "
      >
        {{printer.name}}
      </ion-select-option>
    </ion-select>
    <ion-button [disabled]="!util.printer" (click)="test()">Test</ion-button>
  </ion-item>
</ion-list>
